<div class="scroll-up-btn">
  <i class="fas fa-angle-up"></i>
</div>
<section class="banner" style="height: 100vh">
  <%= partial "partials/banner" %>
</section>
<section class="about" id="about-section" style="height: 100vh; display: flex;">
  <%= partial "partials/about" %>
</section>
<section id="projects-section">
  <%= partial "partials/projects_aprooft" %>
  <%= partial "partials/projects_pettoren" %>
  <%= partial "partials/projects_pokedex" %>
  <%= partial "partials/projects_simon" %>
</section>
<section class="contact" id="contact-section">
  <%= partial "partials/contact" %>
</section>
<div class="social">
    <div class="social-links">
        <div class="social-link">
            <a href="https://www.facebook.com/peter.polanski.52/"><i class="fab fa-facebook" id="facebook"></i></a>
        </div>
        <div class="social-link">
            <a href="https://www.linkedin.com/in/polanski-piotr/"><i class="fab fa-linkedin" id="linkedin"></i></a>
        </div>
        <div class="social-link" style="margin-right: 0px;">
            <a href="https://github.com/polanpio"><i class="fab fa-github" id="github"></i></a>
        </div>
    </div>
</div>
<footer>
      <p>Created by <span>piotr</span></p>
</footer>
