<div class="scroll-up-btn show">
  <i class="fas fa-angle-up"></i>
</div>
<section class="banner" style="height: 100vh">
  <%= partial "partials/banner" %>
</section>
<section class="about" id="about-section">
  <%= partial "partials/about" %>
</section>
<section id="projects-section">
  <%= partial "partials/projects_aprooft" %>
  <%= partial "partials/projects_pettoren" %>
  <%= partial "partials/projects_pokedex" %>
  <%= partial "partials/projects_simon" %>
</section>
<section class="contact" id="contact-section">
  <%= partial "partials/contact" %>
</section>
<div class="social">
    <%= partial "partials/social" %>
</div>
<footer>
      <p>Created by <span>piotr</span></p>
</footer>
